#all {
    text-align: center;
}

#header {
    margin: auto;
    line-height: 50px;
    background-color: rgb(180, 180, 180);
}

#contentWrapper {
    margin: 5px auto 0px;
    height: 300px;
    position:relative;
    max-width: 450px;
}

#footer {
    background-color: rgb(180, 180, 180);
    margin: 0px auto 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 1px;
    height: auto;
}

#nextBtn {
    position: absolute;
    right: 20px;
    bottom:   20px;
}

#backBtn {
    position: absolute;
    left: 20px;
    bottom:   20px;
}

.wrapper {
    max-width: 450px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
}

h1 {
    color: rgb(0, 0, 0);
}

button {
    margin: 5px 20px 5px 20px;
    font-size: 15px;
}


.true-false-btn {
    font-size: 20px;
    margin-top: 50px;
    border-radius: 3px;
    border: 1.5px solid black;
}

.answer-container {
    display: flex;
    justify-content: center;
}
.answer-container:first-of-type {
    margin-top: 50px;
}
.answer-container > label {
    margin: 1px 1px 1px 1px;
    padding: 5px 5px 5px 15px;
    width: 120px;
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
}

.points-container {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    height: 260px;
}

.list {
    text-align: left;
}

.selected {
    box-shadow: 0 0 5px;
    font-weight: bold;
    border: 2px solid black;
}

.info-box {
    box-shadow: 0 0 2px black;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    height: 50px;
    line-height: 50px;
}